.extension
{
    text-align: center;
    margin-bottom: 9.0625rem;

    &__heading
    {
        margin-bottom: 1.375rem;

    }
    &__desc
    {
        padding-bottom: 3.125rem;
        @include breakpoint-up(large)
        {
            max-width: 555px;
            margin: 0 auto;
        }
    }
    
    &__cards
    {
        @include breakpoint-up(large)
        {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
    }


    &__card
    {
        padding: 2.3125rem 1.8rem 1.8rem 1.8rem;
        background-image: url('../../images/bg-dots.svg');
        background-repeat: no-repeat;
        background-position: bottom 110px center;

        box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
        border-radius: 5px;

        &:not(:last-child)
        {
            @include breakpoint-down(medium)
            {
                margin-bottom: 3.125rem;
            }
            @include breakpoint-up(large)
            {
                margin-right: 2.4375rem;
            }
        
        }

        &:nth-child(2)
        {
            margin-top: 2.5rem;
        }
        &:nth-child(3)
        {
            margin-top: 5rem;
        }
        
    }
    &__img 
    {
        margin-bottom: 2rem;
    }

    &__title
    {
        margin-bottom: 1rem;
    }
    &__subTitle
    {
        margin-bottom: 4.0625rem;

    }

    &__button
    {
        display: block;
        width: 100%;

        color: #fff;
        font-size: $smallFont;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: $softBlue;
        border-radius: 5px;

        padding: 0.9375rem;
    }
}
