.footer
{
    text-align: center;
    @include breakpoint-up(large)
    {
        text-align: start;
        display: flex;
        gap: 2.5rem;
        align-items: center;
        justify-content: space-between;
    }

    &__cont
    {
        max-width: 100%;
        background-color: $veryDarkBlue;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

    }


    &__logo
    {
        
        @include breakpoint-down(medium)
        {
            display: inline-block;
            margin-bottom: 2.5rem;
        }
        @include breakpoint-up(large)
        {
            flex: 1;
        }
    }


    &__links
    {

        @include breakpoint-down(medium)
        {
            margin-bottom: 2.8125rem;
        }
        @include breakpoint-up(large)
        {
            flex: 2;
        }
        
        a 
        {
            display: block;
            @include breakpoint-up(large)
            {
                display: inline-block;
            }
            
            color: #fff;
            font-size: $verySmallFont;
            
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: all 300ms ease-in-out;

            &:hover
            {
                color: $softRed;
            }
            &:not(:last-child)
            {
                
                @include breakpoint-down(medium)
                {
                    margin-bottom: 1.875rem;
                }
                @include breakpoint-up(large)
                {
                    margin-right: 2.5rem;
                }
            }

        }
    }

    &__social
    {
        
        @include breakpoint-up(large)
        {
            flex: 3;
            text-align: end;
        }
        
    }
}